@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
html {
    scroll-behavior: smooth;
  }
body{
    padding: 0;
    margin:0;
    background-color:lightsteelblue;

    
}
.main-container{
    font-family: 'Roboto';
    height: calc(100vh - 4rem);
    margin-top: 4rem;
    width: 100%;
    background-color:lightsteelblue;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;

}
.body-left{
    margin-top: 4rem;
    margin-left: 6rem;
}
.body-left h1{
    top: 0;
    left: 0;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 4rem;
}
.name-span{
    color: rgb(2, 71, 88);
}


button{
    border: none;
    width: 10rem;
    background-color:coral;
    margin-top: 2rem;
    padding: 1rem;
}
.body-right{
    margin: 0;
    padding: 0;
}
.body-right-image{
    display: flex;
    flex-flow: column;
    margin-top: 1rem;
    height: 600px;
    width: 600px;
    object-fit: cover;
    max-width: 100%;
}

nav{
    background-color:lightsteelblue;
    font-weight: bold;
    position: fixed;
    z-index: 10;
    left: 0%;
    right: 0;
    top: 0;
    padding: 0 5%;
    font-family: monospace;
    height: 4rem;
}
nav .logo{
    letter-spacing: .3rem;
    color: rgb(27, 27, 27);
    float: left;
    width: 40%;
    height: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    text-decoration: none;


}

nav .nav_list{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    font-size: 1.2rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .nav_list li{
    list-style: none;
}
nav .nav_list a{
    text-decoration: none;
    display: block;
    padding: 1em;
    color: rgb(27, 27, 27);

}
#nav_toggle{
    position: absolute;
    top: -100px;
}
nav .nav_burger{
    font-size: 1rems;
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}



/*----------------------SECTIONS-----------------------------*/
section{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 }
 /*----------------------HOME-----------------------------*/

 .home{
    scroll-margin-top: 5rem;
 }
 .home h1{
     text-align: center;
     font-size: 2.7rem;
 }
/*----------------------ABOUT-----------------------------*/

 .about{
    scroll-margin-top: 5rem;
   
}
 .about h1{
    text-align: center;
    font-size: 2.7rem;
    font-family: monospace;

 }

 .about-container {
    font-family: monospace;
    display: flex;
    padding: 2rem;
    color: whitesmoke;
    column-gap: 20px;

  }
  .about-container > div {
    flex: 1; /*grow*/
  }
  .about-container h2{
    text-align: center;
  }
  .about-container p{
      padding: 2rem;
    font-size: 20px;
  }

  .personal-info a:link, a:visited{
        color: rgb(253, 250, 250);
    text-decoration: underline;
  }
  .personal-info .italic{
      font-style: italic;
  }
  .parts-container{
    background-color:#1f1f1f;;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  }
  
    .hooby-list{
    padding: 2rem;
    margin: 1.8rem;
  }
  ul li{

    list-style-type:square;
    font-size: 20px;
}
.link-tems{
    display: flex;
    align-items: center;
    justify-content: center;
}
 .fav-links{
    display: flex;
    flex-direction: column; 
    width: 200px;
    padding: 0;
}
 a.fav-link-class, a.fav-link-class:visited {
    background-color: #ffc70e;
    color: rgb(31, 30, 30);
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px;
    
  }
  
 a.fav-link-class:hover, a.fav-link-class:active {
    background-color: rgb(247, 142, 56);
  }
/*----------------------SKILLS-----------------------------*/

 .skills{
    scroll-margin-top: 5rem;
 }
 .skills h1{
     font-family: monospace;
    text-align: center;
    font-size: 2.7rem;
 }
 .skills__container{
   row-gap: 2rem;
   text-align: center;
   display: flex;
 }
.skill-left{
    float:left;
    width:50%;
    display: flex;
    flex-direction: column;
    margin-right:  6rem;    
    justify-content: center;
}
.skill-right{
    float:left;
    width:50%;
}
 .skills__data{
   display: flex;
   width: 300px;
   margin: 10px;
   padding: .5rem 1rem;
   font-family: monospace;
   font-size: 2rem;
   background-color:black;
   color: whitesmoke;
   border-radius: .5rem;
   box-shadow: 0 4px 25px rgba(14,36,49,.15);
   overflow: hidden;
 }
 .skills__icon{
   font-size: 2rem;
  display: flex;
  align-items: center;
   color:rgb(255, 166, 0)
 }
 span .skills__names{
   display: flex;
   padding-left: 1rem;
 }

.skills__img{
    width: 600px;
    border-radius: 30px;
}









 .contact{
    scroll-margin-top: 5rem;
    font-family: monospace;

   
 }
 .contact h1{
    font-family: monospace;
    text-align: center;
    font-size: 2.7rem;

 }
 .contact-container{
     display: flex;
     align-items: center;
     flex-direction: row;
 }
.contact-left{
    margin: 4rem;
    font-size: 1.5rem;
}
 *, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
 
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
 
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
      display: flex;
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  


